@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	width: 90%;
	max-width: 60em;
	margin: auto;
	padding: 5px;
}

h1 {
	text-align: center;
}

#count {
	font-weight: bold;
	font-size: 20em;
	text-align: center;
}

#works {
	max-width: 40em;
	margin: auto;
}

#title {
	display: flex;
	justify-content: space-between;
}

a {
	color: #900;
}